{%extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}
{% for i in news %}
<div class="card mb-3">
    <div class="card-header">
        Category: {{ i.category }}
    </div>
    <div class="card-body">
        <div class="media">
            {% if i.photo %}
            <img src="{{i.photo.url}}" alt="" width="130" height="130" class="mr-3" align="left" hspace="5">
            {% else %}
            <img src="https://openseauserdata.com/files/c3f34598d13f0a01a08deb19885de648.jpg" alt=""
                 width="130"
                 height="130" class="mr-3" align="left" hspace="5">
            {%endif%}

        </div>
        <h5 class="card-title">{{i.title}}</h5>
        <p class="card-text">{{i.content|truncatewords:30}} </p>
        <a href="{{i.get_absolute_url}}" class="btn btn-primary">Read more...</a>
    </div>
    <div class="card-footer text-muted">
        {{i.created_at|date:"d/m/Y"}}
    </div>
</div>
{% endfor %}
{% endblock %}


